body{
    font-family: Arial, Helvetica, sans-serif;
    font-color: rgb(15, 1, 1);
    font-size: large
}
.site-heading-lower{
    font-family: Arial, Helvetica, sans-serif;
}
.mb-3{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(25, 73, 28) !important
}

